[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "wordler"]
	path = wordler
	url = https://github.com/davidasmith/wordler
	shallow = true
	registered = true
